
{% extends 'spellingapp/base.html' %}
{% comment %} https://www.youtube.com/watch?v=mpfHDSmqHds&list=PLCC34OHNcOtr025c1kHSPrnP18YPB-NFi&index=9 {% endcomment %}
{% load static %}

{% block register %}
<div id="registerPage">
    <div>
        <p id="registration">Registration</p>
        <div>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock register %} 


