<!DOCTYPE html>
<html lang="en">
  <head>
    {% load sass_tags %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spelling Home</title>
    {% comment %} <link rel="stylesheet" href="{% sass_src 'spellingproject/style.css' %}" type="text/css"> {% endcomment %}
    <link href="{% sass_src 'spellingproject/css/styles.css' %}" rel="stylesheet" type="text/css" />

  </head>
  <body>
  <div id="app">
    <div id="header">
      {% if user.is_authenticated %}
        <a href="{% url 'spellingapp:study_view' %}">Home</a>
      {% else %}
        <a href="{% url 'spellingapp:HomeView' %}">Home</a>

      {% endif %}


      {% if user.is_authenticated %}
        <a href="{% url 'spellingapp:learning_view' %}">Learning</a>
        <a href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
      {% endif %}


    </div>
      {% block landing %}
      {% endblock %}

      {% block study %}
      {% endblock %}

      {% block learning %}
      {% endblock %}

      {% block user_home %}
      {% endblock %}

      {% block register %}
      {% endblock %}

      {% block content %} 
      {% endblock %}
      {% csrf_token %}
    </div>
	<script src="https://unpkg.com/vue@next"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const App = {
            delimiters: ['[[', ']]'],

            data() {
                  return  {
                        message: 'Sup',
                        newWord: '',
                        spelling_error: '',
                        csrfmiddlewaretoken: '',
                        user: 'matt',
                        wrongSpelling: '',
                  }
            },
            methods: {
                checkWord() {
                    let newWord = document.getElementById('newWord').innerHTML
                    let inputValue = document.getElementById('inputValue').value

                    if (newWord.toLowerCase() == inputValue.toLowerCase()) {
                      alert(inputValue, newWord)
                    }
      
                    else{
                      axios({
                        method: 'post',

                        url: '/add_key_val/',
                        data: {
                          this.spelling_error: this.wrongSpelling,
                          word: 'cat',
                        },

                        headers: {
                          'X-CSRFToken': this.csrfmiddlewaretoken
                        }
    
                      }).then(response => {
                        console.log(this.word)
             
                      })
                    }
                }

            },
            mounted() {
				      this.csrfmiddlewaretoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value
            }
          }
          Vue.createApp(App).mount('#app')
    </script>


  </body>
</html>