<!DOCTYPE html>
<html lang="en">
  <head>
    {% load sass_tags %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spelling Home</title>
    {% comment %} <link rel="stylesheet" href="{% sass_src 'spellingproject/style.css' %}" type="text/css"> {% endcomment %}
    <link href="{% sass_src 'spellingproject/css/styles.css' %}" rel="stylesheet" type="text/css" />

  </head>
  <body>
  <div id="app">
    <div id="header">
        <div id="my-app">

    </div>
      {% if user.is_authenticated %}
        <a id="learningLink" href="{% url 'spellingapp:learning_view' %}">Learning</a>
        <a id="spellingListLink" href="{% url 'spellingapp:study_view' %}">Spelling List</a>
      {% else %}
        <a id="homeLink" href="{% url 'spellingapp:home' %}">Home</a>
      {% endif %}


      {% if user.is_authenticated %}
        <a id="logoutLink" href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a id="loginLink" href="{% url 'login' %}">Login</a>
        <a id="registerLink" href="{% url 'register' %}">Register</a>
      {% endif %}


    </div>
      {% block landing %}
      {% endblock %}

      {% block study %}
      {% endblock %}

      {% block learning %}
      {% endblock %}

      {% block user_home %}
      {% endblock %}

      {% block register %}
      {% endblock %}

      {% block content %} 
      {% endblock %}
      {% csrf_token %}
    </div>

  {% comment %} GSAP {% endcomment %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>

  {% comment %} font awesome {% endcomment %}
  <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-a11y="true"></script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue@next"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        const App = {
            delimiters: ['[[', ']]'],
            
            data() {
                  return  {
                        api_word: '',
                        api_def: '',

                        easy: [
                          'anchor',
                          'deer',
                          'dog',
                          'cat',
                          'python',
                          'code',
                          'animal',
                          'fast',
                          'audio',
                          'carriage',
                          'tooth',
                          'head',
                          'mouse',
                          'keyboard',
                          'sad',
                          'mad',
                          'yell',
                          'sing',
                          'laugh'
                          
                        ],
                        hard: [
                          'colonel',
                          'disinterested',
                          'nonplussed',
                          'enormity',
                          'lieutenant',
                          'unabashed',
                          'drunkenness',
                          'dumbbell',
                          'conscientious',
                          'daiquiri',
                          'mischievous',
                          'perseverance',
                          'restaurateur',
                          'cocoon',
                          'abrogate',
                          'abjure',
                          'fiduciary',
                          'gauche',
                          'nihilism'


                        ],
                        missedWords: [],

                        message: 'phone',
                        newWord: '',
                        csrfmiddlewaretoken: '',
                        getList: [],

                        correctWord: '',
                        wrongWord: '',
                        lastWords: [],
                        lastCorrect: '',
                        lastError: '',

                        progressCounter : 0,
                        newGame: true,
                        easyTrigger: true,
                        hardTrigger: false,
                        missedTrigger: false,

                        objectPopulated: false,
                        selectpopulated: false,

                  }
            },
            methods: {
                axiosPost: function() {
                  axios({
                      url: "{% url 'spellingapp:learning_add_key_val' %}",
                      method: 'post',
                      data: {
                        word: this.correctWord,
                        spelling_error: this.wrongWord
                      },
                      headers: {
                        'X-CSRFToken': this.csrfmiddlewaretoken
                      }
                    }).then(response => {
                      console.log(response.data)
                    })
                    .then(() => {
                      this.fetchData()
                      this.randomWord()
                      this.newWordInHTML()
                      document.getElementById('submitPost').style.display = 'none'
                    })
                },

                easyFunc() {
                  gsap.to('#progressBar', {width: 0, duration: 0})
                  this.objectPopulated = true
                  this.easyTrigger = true
                  this.hardTrigger = false
                  this.missedTrigger = false

                  document.getElementById('easyBtn').style.color = '#c1533a'
                  document.getElementById('hardBtn').style.color = '#3AA8C1'
                  document.getElementById('missedBtn').style.color = '#3AA8C1'

                  gsap.to('#borderTopEasy', {width: '5rem'})
                  gsap.to('#borderTopHard', {width: '0'})
                  gsap.to('#borderTopMissed', {width: '0'})
                  this.randomWord()
      
                },

                hardFunc() {
                  gsap.to('#progressBar', {width: 0, duration: 0})
                  this.objectPopulated = true
                  this.easyTrigger = false
                  this.hardTrigger = true
                  this.missedTrigger = false
                  document.getElementById('easyBtn').style.color = '#3AA8C1'
                  document.getElementById('hardBtn').style.color = '#c1533a'
                  document.getElementById('missedBtn').style.color = '#3AA8C1'

                  gsap.to('#borderTopHard', {width: '5.4rem'})
                  gsap.to('#borderTopEasy', {width: '0'})
                  gsap.to('#borderTopMissed', {width: '0'})
                  this.randomWord()
                },

                missedFunc() {
                  gsap.to('#progressBar', {width: 0, duration: 0})
                  this.objectPopulated = true
                  this.missedTrigger = true
                  this.easyTrigger = false
                  this.hardTrigger = false
                  this.fetchData()
                  // console.log(this.getList[1].spelling_error, 'Get List')
                  // console.log(this.getList[1], 'Get List')

                  document.getElementById('easyBtn').style.color = '#3AA8C1'
                  document.getElementById('hardBtn').style.color = '#3AA8C1'
                  document.getElementById('missedBtn').style.color = '#c1533a'
                  this.missedWords = this.getList

                  gsap.to('#borderTopHard', {width: '0'})
                  gsap.to('#borderTopEasy', {width: '0'})
                  gsap.to('#borderTopMissed', {width: '15rem'})
                  this.randomWord()
                },

                speechFunc() {
                  // checks for if list is made and difficulty is selected
                  if (!this.objectPopulated){
                  }
                  else{
                    gsap.to('#preGameScreen', {duration: .5, opacity: 0, display: 'none'})
                    
                    if (this.newGame){
                      this.randomWord()
                      this.newGame = false
                    }

                    var synth = window.speechSynthesis;
                    var voices = synth.getVoices();
                    var voiceSelect = document.getElementById('speachSelect')

                    if (!this.selectpopulated){
                      for(var i = 0; i < voices.length; i++) {
                        var option = document.createElement('option');
                        option.textContent = voices[i].name + ' (' + voices[i].lang + ')';
                        option.value = i;
                        voiceSelect.appendChild(option);
                        this.selectpopulated = true
                      }            
                    }   
                    var inputTxt = document.getElementById('newWord');
                    var utterThis = new SpeechSynthesisUtterance(inputTxt.value);
                    utterThis.voice = voices[voiceSelect.value];
                    // utterThis.voice = '(en-GB)'
                    // console.log(utterThis.voice, 'ut')
                    synth.speak(utterThis);
                    inputTxt.blur();
                  }
                },


                randomWord() {
                  if (this.easyTrigger){
                    let messagesLength = this.easy.length
                    let randomItem = this.easy[Math.floor(Math.random()*messagesLength)]
                    this.message = randomItem
                    console.log(this.message, 'easy message')
                    this.getObject()
                  }
                  else if (this.hardTrigger){
                    let messagesLength = this.hard.length
                    let randomItem = this.hard[Math.floor(Math.random()*messagesLength)]
                    this.message = randomItem
                    this.getObject()
                  }
                  else if (this.missedTrigger){

                    let messagesLength = this.missedWords.length
                    console.log(messagesLength, 'ml')

                    let randomItem = this.missedWords[Math.floor(Math.random()*messagesLength)]
                    console.log(randomItem.word, 'ri')
                    
                    this.message = randomItem.word
                    console.log(this.message, 'missed message')
                    this.getObject()

                  }
                },
                getObject() { 
                    fetch(`https://api.dictionaryapi.dev/api/v2/entries/en/${this.message}`)
                    .then(res => res.json())
                    .then((res)=> {
                        // save word
                        this.api_word = res[0]['word']
                        // console.log(this.api_word);
                        // save def
                        this.api_def = res[0]['meanings'][0]['definitions'][0]['definition']
                        
                    })
                    .then(this.newWordInHTML())
                },

                newWordInHTML(){
                  document.getElementById('newWord').value = this.api_word
                  document.getElementById('htmlDef').innerHTML = this.api_def
                },

                checkWord() {
                  
                  let newWord = document.getElementById('newWord').value
                  let inputValue = document.getElementById('inputValue').value
    
                  if (newWord.toLowerCase() == inputValue.toLowerCase()){
                    this.progressCounter += 1
                    this.randomWord()
                    // this.newWordInHTML()
                    document.getElementById('inputValue').value = ''
                    // document.getElementById('submitPost').style.display = 'none'
                    document.getElementById('htmlDef').innerHTML = ''

                    this.progressBarFunc()
                    this.newWordInHTML()
                  }
                    else if(inputValue == ''){

                    }
                    else{
                      this.progressCounter -= 1
                      this.progressBarFunc()
                      // populate states for axios push
                      let newWord = document.getElementById('newWord').value
                      let inputValue = document.getElementById('inputValue').value
                      this.correctWord = newWord
                      this.wrongWord = inputValue
                      // push to axios
                      document.getElementById('inputValue').value = ''
                      this.axiosPost()

                    }
                },

                progressBarFunc() {
                  
                  console.log(this.progressCounter, 'prog counter')
                  if (this.progressCounter < 0){
                    this.progressCounter = 0
                  }
                  if ( this.progressCounter == 0){
                    gsap.to('#progressBar', {width: 0})
                  }
                  else if (this.progressCounter == 1){
                    gsap.to('#progressBar', {width: '3rem', duration: 1})
                  }
                  else if (this.progressCounter == 2){
                    gsap.to('#progressBar', {width: '6rem', duration: 1})
                  }
                  else if (this.progressCounter == 3){
                    gsap.to('#progressBar', {width: '9rem', duration: 1})
                  }
                  else if (this.progressCounter == 4){
                    gsap.to('#progressBar', {width: '12rem', duration: 1})
                  }
                  else if (this.progressCounter == 5){
                    gsap.to('#progressBar', {width: '15rem', duration: 1})
                  }
                  else if (this.progressCounter == 6){
                    gsap.to('#progressBar', {width: '18rem', duration: 1})
                  }
                  else if (this.progressCounter == 7){
                    gsap.to('#progressBar', {width: '21rem', duration: 1})
                  }
                  else if (this.progressCounter == 8){
                    gsap.to('#progressBar', {width: '24rem', duration: 1})
                  }
                  else if (this.progressCounter == 9){
                    gsap.to('#progressBar', {width: '27rem', duration: 1})
                  }
                  else if (this.progressCounter == 10){
                    gsap.to('#progressBar', {width: '30rem', duration: 1})
                    this.progressCounter = 0
                    this.newGame = true
                  }
                },
              hearDef() {
           
                var synth = window.speechSynthesis;
                var voices = synth.getVoices();
                var voiceSelect = document.getElementById('speachSelect')

                if (!this.selectpopulated){
                  for(var i = 0; i < voices.length; i++) {
                    var option = document.createElement('option');
                    option.textContent = voices[i].name + ' (' + voices[i].lang + ')';
                    option.value = i;
                    voiceSelect.appendChild(option);
                    this.selectpopulated = true
                  }            
                }   
                var inputTxt = document.getElementById('htmlDef');
    
                var utterThis = new SpeechSynthesisUtterance(inputTxt.innerHTML);
                utterThis.voice = voices[voiceSelect.value];
                // utterThis.voice = '(en-GB)'
                // console.log(utterThis.voice, 'ut')
                synth.speak(utterThis);
                inputTxt.blur();

              },


              fetchData: function() {
                const myOption = {
                  method: 'GET',
                };
                fetch('/fetch_get', myOption)
                .then((res) => res.json())
                .then((res) => {
                  // console.log(res.items, 'Fetch Request Worked')
                  this.getList = res.items
                  // console.log(this.getList, 'getlist')
                })
                .then(() => {
                  // get last item from list and save it
                  let arrLen = this.getList.length - 1
                  this.lastWords = this.getList[arrLen]
                  this.lastCorrect = this.lastWords.word
                  this.lastError = this.lastWords.spelling_error
                })
              },
            },
            
            mounted() {
            // '#c1533a'
        // '#3AA8C1'
        


             // Home Page not loggin in
              if (window.location.pathname  == '/'){
                document.getElementById('homeLink').style.color = '#c1533a'
                document.getElementById('loginLink').style.color = '#3AA8C1'
                document.getElementById('registerLink').style.color = '#3AA8C1'            
                gsap.to('#linguist', {x: '16.5rem', opacity: 1, duration: 1.5})
                gsap.to('#assist', {delay: 1, y: '10rem', opacity: 1, duration: 1.5})
                gsap.to('#homeLogLink, #homeRegLink', {delay: 2.2, opacity: 1})
              }
              else if (window.location.pathname  == '/members/login/'){
                document.getElementById('loginLink').style.color = '#c1533a'
                document.getElementById('homeLink').style.color = '#3AA8C1'
                document.getElementById('registerLink').style.color = '#3AA8C1'     
                gsap.to('#login', {x: '14.8rem', opacity: 1, duration: 1}) 
              }
              else if (window.location.pathname  == '/members/register/'){
                document.getElementById('registerLink').style.color = '#c1533a'    
                document.getElementById('loginLink').style.color = '#3AA8C1'
                document.getElementById('homeLink').style.color = '#3AA8C1'
                gsap.to('#registration', {y: '10rem', opacity: 1, duration: 1}) 
              }

              else if (window.location.pathname  == '/learning/'){
                document.getElementById('learningLink').style.color = '#c1533a'    
                document.getElementById('spellingListLink').style.color = '#3AA8C1'
                document.getElementById('logoutLink').style.color = '#3AA8C1'
              }
              else if (window.location.pathname  == '/study/'){
                document.getElementById('spellingListLink').style.color = '#c1533a'
                document.getElementById('learningLink').style.color = '#3AA8C1'    
                document.getElementById('logoutLink').style.color = '#3AA8C1'
              }


              this.fetchData()
				      this.csrfmiddlewaretoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value
              // this.randomWord()
              this.newWordInHTML()

              //initalize speach options
              var synth = window.speechSynthesis;
              var voices = synth.getVoices();
              var voiceSelect = document.getElementById('speachSelect')

              for(var i = 0; i < voices.length; i++) {
                var option = document.createElement('option');
                option.textContent = voices[i].name + ' (' + voices[i].lang + ')';
                option.value = i;
                voiceSelect.appendChild(option);
      
              }     
              var inputTxt = document.getElementById('newWord');
              var utterThis = new SpeechSynthesisUtterance(inputTxt.value);
              utterThis.voice = voices[voiceSelect.value];
              // console.log(utterThis.voice, 'this one mattttt')
              synth.speak(utterThis);
              inputTxt.blur();
            
                         
              }
            }
            
          Vue.createApp(App).mount('#app')


    </script>


  </body>
</html>