{% extends 'spellingapp/base.html' %}
{% load static %}

{% block learning %}

<div id="learningPage">
    <div>
        {% comment %} <button v-on:click="newWordFunc">New Word</button> {% endcomment %}

        {% comment %} <button v-on:click="checkWord">x</button> {% endcomment %}
        <form action="{% url 'spellingapp:learning_add_key_val' %}" method="POST" >
        {% csrf_token %}
            <input id="newWordValue" name="word" value="[[message]]">
            <p name="word"  id="newWord">[[message]]</p>
            <p>Enter the word below</p>
            <input type="text" id="inputValue" placeholder="here" name="spelling_error" >
            <p id="checkWord" v-on:click="checkWord">Check Word</p>
            <input type='submit' id="submitPost" value="Submit">
        </form>
        <br>
        <div>

            {% for item in spelling_list  %}
                {% if forloop.last %}
                    <p>Word:{{ item.word }}</p>
                    <p>Error:{{ item.spelling_error}}</p>
                {% endif%}
            {% endfor %}


        </div>
        
    </div>
</div>

{% endblock learning %}