{% extends 'spellingapp/base.html' %}
{% load static %}

{% block learning %}

<div id="learningPage"> 
    {% comment %} <p id="testLanding">Test for GSAP</p> {% endcomment %}

    <div id="preGameScreen">
        <h1 id="preGameH1">Select your difficulty</h1>
        <div>
            <button id="easyBtn" class="preGameBtns" v-on:click="easyFunc">EASY</button>
            <button id="hardBtn" class="preGameBtns" v-on:click="hardFunc">HARD</button>
     
            <button v-on:click="speachFunc">Start</button>
        </div>
    </div>
    <div id="progressBar">
        <div id='oneOutOfTen'></div><div id='twoOutOfTen'></div>
        <div id='threeOutOfTen'></div> <div id='fourOutOfTen'></div>
        <div id='fiveOutOfTen'></div> <div id='sixOutOfTen'></div>
        <div id='sevenOutOfTen'></div> <div id='eightOutOfTen'></div>
        <div id='nineOutOfTen'></div> <div id='tenOutOfTen'></div>
    </div>
    <div id="gameFace">
        <div id='defAndOld'>
            <h1>Definition</h1>
            <p id='htmlDef'></p>
        </div>

        <button v-on:click="speachFunc" id="hearBtn">Hear Word</button>
    
        <select id="speachSelect"></select>

        {% comment %} <form action="{% url 'spellingapp:learning_add_key_val' %}" method="POST" > {% endcomment %}
            {% csrf_token %}
            <input id="newWord" name="word" >
    
            <input type=s"text" id="inputValue" placeholder="Type Word Here" name="spelling_error" >


            <button v-on:click="checkWord" id="checkWord" type="submit">Check Word</button>

            {% comment %} <input type='submit' id="submitPost" value="Submit" v-on:click="axiosPost"> {% endcomment %}
        {% comment %} </form> {% endcomment %}
    </div>


        <div id="lastTypo">
            <h2>Previous Typo</h2>
            <h3>Correct: [[lastCorrect]]</h3>
            <h3>Incorrect: [[lastError]]</h3>
        </div>


        {% comment %} <p v-on:click="startNewWord">START BUTTON and test new Word</p> {% endcomment %}

</div>

{% endblock learning %}