{% extends 'spellingapp/base.html' %}
{% load static %}

{% block learning %}

<div id="learningPage"> 
    {% comment %} <p id="testLanding">Test for GSAP</p> {% endcomment %}

    <div id="preGameScreen">
        <h1 id="preGameH1">Select A Game</h1>
        <div id="preGameBtnContainer">

            <div id="gradeContainer">
                <p v-on:click="gradeMenuFunc" id="gradeSelect">By Grade Level <i id="caretGrade" class="fas fa-caret-right"></i> </p>
                <div id="gradeMenu">
                    <p v-on:click="firstGradeFunc" id="firstGradeBtn">First Grade</p>
                    <p v-on:click="secondGradeFunc" id="secondGradeBtn">Second Grade</p>
                    <p v-on:click="thirdGradeFunc" id="thirdGradeBtn">Third Grade</p>

                    <p v-on:click="fourthGradeFunc" id="fourthGradeBtn">Fourth Grade</p>
                    <p v-on:click="fifthGradeFunc" id="fifthGradeBtn">Fifth Grade</p>
                    <p v-on:click="sixthGradeFunc" id="sixthGradeBtn">Sixth Grade</p>

                    <p v-on:click="seventhGradeFunc" id="seventhGradeBtn">Seventh Grade</p>
                    <p v-on:click="eighthGradeFunc" id="eighthGradeBtn">Eighth Grade</p>
                    <p v-on:click="ninthGradeFunc" id="ninthGradeBtn">Ninth Grade</p>
                </div>
            </div>

            <div id="easyContainer">
                <button id="easyBtn" class="preGameBtns" v-on:click="easyFunc">Easy</button>
                <p id="borderTopEasy"></p>
            </div>
         
            <div id="hardContainer">
                <button id="hardBtn" class="preGameBtns" v-on:click="hardFunc">Hard</button>
                <p id="borderTopHard"></p>
            </div>

            <div id="missedContainer">
                <button id="missedBtn" class="preGameBtns" v-on:click="missedFunc">Your Words</button>
                <p id="borderTopMissed"></p>
            </div>
        </div>
        <p id="pointsNTW">Choose Points Needed</p>
        <input id="inputRounds" type="number" value="10">
        <p v-on:click="speechFunc" id="startBtn">play <span id="playIcon"><i class="fas fa-play"></i></span></p>
    </div>

    <div id="postGameScreen">
        <div id="postGameBtns">
            <a href="{% url 'spellingapp:learning_view' %}"><i class="fas fa-play"></i></a>
           <a href="{% url 'spellingapp:study_view' %}"><i class="fas fa-book"></i></a>
        </div>
        <div id="postGameContentDiv">
            <h1>Great Job!</h1>
            <p id="addedToList">The following words were added to your spelling list</p>
            <div id="flexRowForLoop">
                <div id="forLoopPostGame" v-for="item in stateWrongWords">
                    <p>[[item]]</p>
                </div>
            </div>
            <p id="noItemsMessage">You got all the words correct!</p>
        </div>
    </div>

    <select id="speachSelect"></select>
    {% comment %} <p>Progress Bar</p> {% endcomment %}
    {% comment %} <div id="labelDiv"> {% endcomment %}
        <p id="gameNameLabel">
        {% comment %} </p>Points Needed [[inputRounds]]<p> {% endcomment %}
    {% comment %} </div> {% endcomment %}
    <div id="progressBarConatiner">
        <div id='progressBar'></div>

    </div>
    <div id="gameFace">
        <div id='defAndOld'>
            <h1>Definition</h1>
            <p v-on:click="hearDef" id='htmlDef'></p>
            <div v-on:click="hearDef">
                <i class="fas fa-volume-up"></i>
            </div>
        </div>

        {% comment %} <button v-on:click="speechFunc" id="hearBtn">Hear Word</button>
        <br>
        <div v-on:click="speechFunc" >
            <i class="fas fa-volume-up"></i>
        </div>  {% endcomment %}
        {% comment %} <select id="speachSelect"></select> {% endcomment %}

        {% comment %} <form action="{% url 'spellingapp:learning_add_key_val' %}" method="POST" > {% endcomment %}
        {% csrf_token %}
        <input id="newWord" name="word" >
        <input v-on:keyup.enter="checkWord" type="text" id="inputValue" placeholder="Type Here" name="spelling_error" spellcheck="false">
        <div v-on:click="speechFunc" id="speachContainer">
            <p>Hear Word</p><p><i class="fas fa-volume-up"></i></p>
        </div>

        <button v-on:click="checkWord" id="checkWord" type="submit">Check Spelling</button>

            {% comment %} <input type='submit' id="submitPost" value="Submit" v-on:click="axiosPost"> {% endcomment %}
        {% comment %} </form> {% endcomment %}
    </div>


    <div id="lastTypo">
        <h3>Previous Typo</h3>
        <p> <span id="lastCorrect">Correct: [[lastCorrect]]</p></span>
        <p>Incorrect: [[lastError]]</p>
    </div> 


        {% comment %} <p v-on:click="startNewWord">START BUTTON and test new Word</p> {% endcomment %}

</div>

{% endblock learning %}