{% extends 'spellingapp/base.html' %}
{% load static %}

{% block study %}
<div id="studyPage">
    {% comment %} <p>Study page</p> {% endcomment %}
    {% comment %} <img src="{% static "spellingproject/media/paper.jpg" %}"></img>  {% endcomment %}
    <div id="paper">
       <section id="paperHeading">
        <p>Word</p>
        <p>Error</p>
       </section>
        {% for item in spelling_list  %}
            <div>
                <div>
                   <a  href="{% url 'spellingapp:remove_key_val' pk=item.pk %}">x</a>
                   <p>{{ item.word }}</p>
                </div>
                <div>
                    <p>{{ item.spelling_error }}</p>
                </div>
            </div>
        {% endfor %}
    
    </div>
</div>

{% endblock study %}