{% extends 'spellingapp/base.html' %}
{% load static %}

{% block study %}
<div id="studyPage">

    <div id="paper">
        <section id="paperHeading">
        <p>Word</p>
        <p>Error</p>
        </section>
       
    
        <form action="{% url 'spellingapp:add_key_val' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="word">
            <input type="text" name="spelling_error">
            <input type="submit" value="add">
        </form>


        {% for item in spelling_list  %}
            <div>
                <div>
                   <a  href="{% url 'spellingapp:remove_key_val' pk=item.pk %}">x</a>
                   <p>{{ item.word }}</p>
                </div>
                <div>
                    <p>{{ item.spelling_error }}</p>
                </div>
            </div>
        {% endfor %}
        <br>
        <div v-for="item in getList">
            [[item.word]]
            [[item.spelling_error]]
        </div>
        <br>

        <div v-for="item in lastWords">
            [[item]]
        </div>


        <div v-on:click="axiosPost">
            <button type="submit">Send Post</button>
        
        </div>
            

    </div>
</div>

{% endblock study %}