{% extends 'spellingapp/base.html' %}
{% load static %}

{% block study %}
<div id="studyPage">

    <div id="studyPageInner">

            <section id="wordErrorLabel">
                <div>
                    <p>Word</p>
                </div>
                <div>
                    <p>Error</p>
                </div>
            </section>
        
            <form id="addAndRemoveForm" action="{% url 'spellingapp:add_key_val' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="word" placeholder="Correct Spelling">
                <input id="spellingErrorInput" type="text" name="spelling_error" placeholder="Incorrect Spelling">
                <br>
                <button id="addAndRemoveBtn" type="submit">add</button>
            </form> 

            {% for item in spelling_list  %}
                <div id="spellingListContainer">
                    <div id="spellingListLeft">
                        <a id="removeWord" href="{% url 'spellingapp:remove_key_val' pk=item.pk %}"><i class="fas fa-eraser"></i></a>
                        <p>{{ item.word }}</p>
                    </div>
                    <div id="spellingListRight">
                        <p>{{ item.spelling_error }}</p>
                    </div>
                </div>
            {% endfor %}
            <br>
            {% comment %} <div v-for="item in getList">
                [[item.word]]
                [[item.spelling_error]]
            </div>
            <br>

            <div v-for="item in lastWords">
                [[item]]
            </div>

            <div v-on:click="axiosPost">
                <button type="submit">Send Post</button>
            </div> {% endcomment %}

    </div>
</div>

{% endblock study %}