#landingPage{
    display:flex;
    justify-content: center;
    align-items: center;
    background: $primary-background;
    color: white;
    height: 95vh;

    h1{
        font-size: 5rem;
    }
}