#landingPage{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $primary-background;
    color: $primary-color;
    height: 95vh;
    
    div{
        display: flex;
    }

    div:nth-child(2){
        margin-top: 2rem;
        a{
            text-decoration: none;
            margin-left: .5rem;
            margin-right: .5rem;
            color: white;
            opacity: 0;
        }
        #homeLogLink:hover{
            color: $primary-color;

        }
        #homeRegLink:hover{
            color: $complementary-color;
            
        }
 
    }

    #linguist{
        opacity: 0;
        position: relative;
        margin-right: 1rem;
        left: -20vw;
    }

    #assist{
        position: relative;
        opacity: 0;
        top: -10rem;
        color: complement($primary-color);
    }
    h1{
        font-size: 5rem;
    }
}



// Logged in and on empty url

#loggedHome{
    position: relative;
    top: -5rem;
}
#linguistLogged{

}
#assistLogged{
    color: $complementary-color;
}