@import "variables.scss";
#landingPage{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $primary-background;
    color: $primary-color;
    height: 95vh;
    
    div{
        display: flex;
    }

    #homeLinks{
        margin-top: 2rem;
        a{
            text-decoration: none;
            margin-left: .5rem;
            margin-right: .5rem;
            color: white;
            opacity: 0;
        }
        #homeLogLink:hover{
            color: $primary-color;
        }
        #homeRegLink:hover{
            color: $complementary-color;
            
        }
 
    }

    #linguist{
        position: relative;
        bottom: 10rem;
        opacity: 0;
        margin-right: 1rem;
    }

    #assist{
        position: relative;

        opacity: 0;
        color: complement($primary-color);
    }
    h1{
        font-size: 5rem;
    }
}



// Logged in and on empty url

#loggedHome{
    display: flex;
}
#loggedLearningLink{
    margin-top: 2rem;
    margin-left: .5rem;
    margin-right: .5rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
#loggedLearningLink:hover{
    color: $primary-color;
}
#LoggedSpellingListLink{
    margin-top: 2rem;
    margin-left: .5rem;
    margin-right: .5rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
#LoggedSpellingListLink:hover{
    color: $complementary-color
}
#linguistLogged{
    margin-right: 1rem;
}

#assistLogged{
    color: $complementary-color;
}

@media screen and (max-width: 800px) {
    #landingPage{

        div{
            font-size: 2rem;
        }

        #linguist{
            position: relative;
            bottom: 10rem;
            font-size: 3rem;
            opacity: 0;
        }
        #assist{
            font-size: 3rem;
            opacity: 0;
        }
    }
  }