#learningPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

#newWordValue{
    // display: none;
    background: rebeccapurple;
    display: none;
}

#newWord{
    display: none;
}

#checkWord{
    border: 1px solid black;
    border-radius: 2px;
}

#submitPost{
    display: none;
}

#speachSelect{
    display: none;
}
#hearBtn{
    border: 1px solid black;
}