#learningPage{
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;

}

#progressBar{
    background: skyblue;
    width: 30rem;
    height: 1rem;
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#oneOutOfTen, #twoOutOfTen, #threeOutOfTen, #fourOutOfTen, #fiveOutOfTen, #sixOutOfTen, #sevenOutOfTen, #eightOutOfTen, #nineOutOfTen, #tenOutOfTen{
    background: slategrey;
    height: 1rem;
    width:0rem;
}


#gameFace{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background: cornflowerblue;
}

#newWordValue{
    background: rebeccapurple;
    display: none;
}

#newWord{
    display: none;
}

#checkWord{
    border: 1px solid black;
    border-radius: 2px;
}

// #submitPost{
//     display: none;
// }

#speachSelect{
    display: none;
}
#hearBtn{

}

#htmlDef{
    text-align: center;
    width: 60vw;
    font-size: 2rem;
}

#inputValue{
    font-size: 2.5em;
    text-align: center;
    border: none;
}
#inputValue:focus{
    outline: none;
}

#defAndOld{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
    height: 12rem;

    p{
        // text-align: start;
    }
}
#lastTypo{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Pre Game Screen
#preGameScreen{
    display: flex;
    position: relative;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 1px solid black;
    background: steelblue;
    width: 100vw;
    height: 95vh;

    #preGameBtnContainer{
        margin-top: 2rem;
        display: flex;

        #easyContainer{
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            margin: 0;

            #easyBtn:hover{
                font-weight: bold;
            }

            #borderTopEasy{
                border-top: 1px solid black;
                width: 0;
                margin-left: 1rem;
            }
        }
        #hardContainer{
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            margin: 0;

            #hardBtn:hover{
                font-weight: bold;
            }

            #borderTopHard{
                border-top: 1px solid black;
                width: 0;
                margin-left: 1rem;
            }
        }
        .preGameBtns{
            font-size: 2rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        #startBtn{
            font-size: 2rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    h1{
        opacity: 0;
        font-size: 5rem;
    }


    button:hover{
        // color: red;
        
        // opacity: 1;
    }
}