#learningPage{
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    background: $primary-background;
    color: white;
}

#progressBarConatiner{
    background: $primary-color;
    background-image: -webkit-linear-gradient(top, #ecf1f1, #f6fafa);
    box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
    width: 30rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: 1rem 1rem 1rem 1rem;
    overflow: hidden;
}

#progressBar{
    border-radius: 0rem 1rem 1rem 0rem;
    background: slategrey;
    background-image: -webkit-linear-gradient(top, lighten($primary-color, 20%), $primary-color);
    height: 2rem;
    width:0rem;
    
}


#gameFace{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#newWordValue{
    display: none;
}

#newWord{
    display: none;
}


#speachSelect{
    position: absolute;
    right: 1rem;
    // display: none;
    // margin-top: 1rem;
}

#hearBtn{

}

#htmlDef{

    text-align: center;
    width: 30rem;
    font-size: 1.5rem;
}

#inputValue{
    margin-top: 1rem;
    font-size: 2.5em;
    text-align: center;
    border: none;
    // border: 1.5px solid rgba(0, 0, 0, 0.5);
    padding-bottom: .5rem;
    padding-top: .5rem;
    background: none;
    color: $primary-color;

}

#inputValue:focus{
    outline: none;
}

#inputValue::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: .4; /* Firefox */
  }

#speachContainer{
    display: flex;
    align-items: center;
    width: 20rem;
    justify-content: center;
    margin-top: 2.5rem;
    
    p{
        font-size: 1.5rem;
        margin-left: .5rem;
        margin-right: .5rem;
        font-weight: bold;
    }
}

#checkWord{
    margin-top: 1rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 5px;
    font-size: 1.5rem;
    background: $complementary-color;
    border: none;
    color: white;
    font-weight: bold;
}

#checkWord:hover{
    background: white;
    color: $complementary-color;
}

#defAndOld{
    display: flex;
    flex-direction: column;
    // margin-top: 1rem;
    align-items: center;
    height: 12rem;
    // opacity: .7;

    h1{
        color: $primary-color;
        border-bottom: 1px solid $primary-color;
        margin-bottom: .5rem;
        font-size: 1.5rem;
        align-items: flex-start;
        width: 30rem;
    }

    p{
        // text-align: start;
    }
}

#lastTypo{
    position: absolute;
    display: flex;
    margin-top: 5rem;
    right: 6.5rem;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    text-align: start;
    font-weight: bold;
    display: none;
    opacity: 0;
    
    #lastCorrect{
        color: $complementary-color;
    }
    h3{
        margin-bottom: .25rem;
        color: $primary-color;
        border-bottom: 1px solid $primary-color;
        padding-bottom: .1rem;
    }
    
    p{
        color: $primary-color;

        margin-top: .25rem;
        margin-bottom: .25rem;
    }
}






// Pre Game Screen ------------------------------------------------------------
#preGameScreen{
    display: flex;
    position: relative;
    z-index: 2;
    flex-direction: column;
    // justify-content: center;
    padding-top: 10rem;
    align-items: center;
    position: absolute;
    background: $primary-background;
    width: 100vw;
    height: 95vh;

    #preGameH1{
        color: $primary-color;
        font-size: 5rem;
    }


    #preGameBtnContainer{
        margin-top: 2rem;
        display: flex;

        #gradeContainer{
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            margin: 0;

            #caretGrade{
            }

            #gradeSelect{
                border: 1px solid white;
                color: $primary-color;
                background: none;
                border: none;
                font-weight: bold;
                font-size: 2rem;
                margin-right: 1.5rem;
            }
            #gradeMenu{
                position: relative;
                top: 1rem;
                display: none;
                height: 0;
            }
            #firstGradeBtn, #secondGradeBtn, #thirdGradeBtn{
                font-weight: bold;
                color: $primary-color;
            }
        }

        #easyContainer{
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            margin: 0;

            #easyBtn{
                color: $primary-color;
                background: none;
                border: none;
                font-weight: bold;
            }

            #easyBtn:hover{
                color: $complementary-color;
            }              

            #borderTopEasy{
                border-top: 3px solid complement($primary-color);
                width: 0;
                margin-left: 1rem;
            }
        }
        #hardContainer{
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            margin: 0;

            #hardBtn{
                color: $primary-color;
                background: none;
                border: none;
                font-weight: bold;
            }
            #hardBtn:hover{
                color: $complementary-color;
            }           

            #borderTopHard{
                border-top: 3px solid complement($primary-color);
                width: 0;
                margin-left: 1rem;
            }
        }

        #missedContainer{
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            margin: 0;

            #missedBtn{
                color: $primary-color;
                background: none;
                border: none;
                font-weight: bold;
            }
            #missedBtn:hover{
                color: $complementary-color;
            }           

            #borderTopMissed{
                border-top: 3px solid complement($primary-color);
                width: 0;
                margin-left: 1rem;
            }
        }



        .preGameBtns{
            font-size: 2rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    #startBtn{
        display: none;
        opacity: 0;
        margin-top: 2.5rem;
        font-size: 2rem;
        font-weight: bold;
        padding-left: 1rem;
        padding-right: 1rem;
        color: $complementary-color;
    }
    
    #startBtn:hover{
        color: lighten($complementary-color, 10%);
    }

    // h1{
    //     font-size: 5rem;
    // }


    button:hover{
        // color: red;
        // opacity: 1;s
    }
}

// Post Game section -----------------------------------------------------------------------------------------------------------
#postGameScreen{
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 100;
    height: 95vh;
    width: 100vw;
    background: $complementary-color;
    color: black;
    text-align: center;
    display: none;

    #postGameContentDiv{
        display: flex;
        // justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 7rem;
        font-weight: bold;
        font-size: 2rem;
        color: $primary-background;

        // height: 20rem;
        overflow: hidden;


        #flexRowForLoop{
            display: flex;
            // flex-direction: row;
            width: 60vw;
        }

        h1{
            margin-bottom: 1rem;

        }
        #addedToList{
            margin-bottom: 1rem;
        }

        #forLoopPostGame{
            // border: 1px solid black;
            // width: 30vw;
            p{
                font-size: 1rem;
                margin-left: 1rem;
                margin-right: 1rem;
                line-height: 1.2;
            }
        }
    }
    
    div{
        display: flex;
        flex-direction: column;
        text-align: start;  
        height: 91vh;
        text-align: center
    }


    #noItemsMessage{
        display: none;
    }

    #forLoopPostGame{
        height: 1rem;
    }
    
    #postGameBtns{
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 1.5rem;
        right: 1.5rem;
        height: 2rem;

        width: 10rem;
        a{
            margin-left: 1rem;
            margin-right: 1rem;
            text-decoration: none;
            color: $primary-background;
            font-size: 2rem;
            font-weight: bold;
        }
        a:hover{
            color: $primary-color;
        }
    }
}