#learningPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

#newWordValue{
    display: none;
}

#checkWord{
    border: 1px solid black;
    border-radius: 2px;
}

#submitPost{
    display: none;

}