#learningPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 95vh;
}

#progressBar {
  background: skyblue;
  width: 30rem;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#oneOutOfTen, #twoOutOfTen, #threeOutOfTen, #fourOutOfTen, #fiveOutOfTen, #sixOutOfTen, #sevenOutOfTen, #eightOutOfTen, #nineOutOfTen, #tenOutOfTen {
  background: slategrey;
  height: 1rem;
  width: 0rem;
}

#gameFace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#newWordValue {
  background: rebeccapurple;
  display: none;
}

#newWord {
  display: none;
}

#checkWord {
  border: 1px solid black;
  border-radius: 2px;
}

#speachSelect {
  display: none;
}

#htmlDef {
  text-align: center;
  width: 60vw;
  font-size: 2rem;
}

#inputValue {
  font-size: 2.5em;
  text-align: center;
  border: none;
}

#inputValue:focus {
  outline: none;
}

#defAndOld {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12rem;
}

#lastTypo {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#preGameScreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  border: 1px solid black;
  background: steelblue;
  width: 100vw;
  height: 95vh;
}

#preGameScreen #preGameBtnContainer {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#preGameScreen #preGameBtnContainer #easyContainer {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

#preGameScreen #preGameBtnContainer #easyContainer #easyBtn:hover {
  font-weight: bold;
}

#preGameScreen #preGameBtnContainer #easyContainer #borderTopEasy {
  border-top: 1px solid black;
  width: 0;
  margin-left: 1rem;
}

#preGameScreen #preGameBtnContainer #hardContainer {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

#preGameScreen #preGameBtnContainer #hardContainer #hardBtn:hover {
  font-weight: bold;
}

#preGameScreen #preGameBtnContainer #hardContainer #borderTopHard {
  border-top: 1px solid black;
  width: 0;
  margin-left: 1rem;
}

#preGameScreen #preGameBtnContainer .preGameBtns {
  font-size: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#preGameScreen #preGameBtnContainer #startBtn {
  font-size: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#preGameScreen h1 {
  opacity: 0;
  font-size: 5rem;
}
/*# sourceMappingURL=learningPage.css.map */