//Register Page
#registerPage{
    background: $primary-background;
    height: 95vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;

    p:nth-child(1){
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: $primary-color;
        // padding-bottom: .2rem;
        // border-bottom: 1px solid white;
    }

    p:nth-child(2){
        input{
            width: 30rem;
        }
    }

    p:nth-child(3){
        margin-bottom: .5rem;
        input{
            margin-left: .39rem;
            width: 30.02rem;
        }
    }

    p:nth-child(5){
        margin-top: .5rem;
        label{
            font-size: 2rem;
        }
        #id_password2{
            width: 120rem;
            background: red;
        }
    }

    input{
        // background: none;
        border: none;
        border-bottom: 1px solid $primary-color;
        // color: white;
        font-size: 1.3rem;
        width: 15rem;
        margin-bottom: .5rem;
    }

    input:focus{
        outline: none;
    }

    .helptext{
        display: none;
    }
    li{
        margin-left: 2rem;
        font-size: 1rem;
    }

    button{
        margin-top: 1rem;
        font-weight: bold;
        font-size: 1.5rem;
        background: complement($primary-color);
        text-align: start;
        width: 100%;
        padding: .25rem 0 .25rem 0;
        text-align: center;
        border: 1px solid $primary-color;
        border: none;
        border-radius: .2rem;
        color: white;
    }

    button:hover{
        color: complement($primary-color);
        background: white;
        border: none;
    }

    #id_password2{
        width: 21.6rem;
    }
}



#loginPage{
    background: $primary-background;
    height: 95vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;


    h1{
        width: 100%;
        text-align: start;
        margin-bottom: 1rem;
        color: $primary-color;
    }
    
    p:nth-child(3){
        label{ 
            margin-right: .4rem;
        }
    }
    button{
        margin-top: .5rem;
        font-weight: bold;
        font-size: 1.5rem;
        background: complement($primary-color);
        text-align: start;
        width: 100%;
        padding: .25rem 0 .25rem 0;
        text-align: center;
        border: 1px solid $primary-color;
        border: none;
        border-radius: .2rem;
        color: white;
    }
    
    button:hover{
        color: complement($primary-color);
        background: white;
        border: none;
    }


    input{
        // background: none;
        border: none;
        border-bottom: 1px solid $primary-color;
        // color: white;
        font-size: 1.3rem;

        margin-bottom: 1rem;
        background: white;
    }
 

    input:focus{
        outline: none;
    }
}
