@import "variables.scss";
#studyPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $primary-background;
    color: white;
    object-fit: contain;

    #studyPageInner{
        background-size: auto 100%;
        height: 95vh;
        width: 30rem;
        // background: rgb(75, 75, 75);
        object-fit: fill;
        // margin-left: 10rem;

        #wordErrorLabel{
            display: flex;
            font-size: 1.5rem;
            font-weight: bold;
            color: $primary-color;
            width: 30rem;
            border-bottom: 1px solid white;
            div{
                width: 50%;
                margin-bottom: 1rem;
     
                #wordLabel{
                    // padding-left: .5rem;
                }
                #errorLabel{
                    // text-align: end;
                    // padding-right: .3rem;
                    margin-left: 2.4rem;
                }
            }
        }


        #addAndRemoveForm{
            position: absolute;
            top: 5vh;
            right: 1rem;
            button{
                font-weight: bold;
                font-size: 1.5rem;
                background: complement($primary-color);
                text-align: start;
                width: 100%;
                padding: .25rem 0 .25rem 0;
                text-align: center;
                border: 1px solid $primary-color;
                border: none;
                border-radius: .2rem;
                color: white;
            }
            button:hover{
                background: white;
                color: $complementary-color;
                cursor: pointer;
            }
        }

        #spellingListContainer{
            display: flex;
            margin-top: .5rem;
            margin-bottom: .5rem;

            #spellingListLeft{ 
                width: 70%;
                display: flex;

                a{
                    text-decoration: none;
                    margin-right: 1rem;
                    color: complement($primary-color);

                }
                a:hover{
                    color: $primary-color;
                }

            }
            #spellingListRight{
                width: 50%;
            }
        }

    .pagination{
        .step-links{
            color: $primary-color;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            a{
                color: $primary-color;
                margin-left: .25rem;
                margin-right: .25rem;
                text-decoration: none;
            }
            a:hover{
                color: $complementary-color;
            }
        .current{
            color: $primary-color;
            width: 7rem;
            }
            #nextLastContainer{
                display: flex;
                justify-content: flex-end;
                // width: 24rem;
            }
        #first{
            width: 5rem;
            }
        #previous{
            margin-right: 5rem;
            }
        }
        
        }
    }
}
@media screen and (max-width: 800px) {

    #studyPage{
        justify-content: flex-start; 
        height: 110vh;


        #studyPageInner{
            margin-top: 15vh;
            margin-left: 5vw;
            width: 90vw;

    
            #wordErrorLabel{
                width: 100%;
                border-bottom: 1px solid white;
                div{
                    width: 50%;
                    margin-bottom: 1rem;
         
                    #wordLabel{
                        // padding-left: .5rem;
                    }
                    #errorLabel{
                        // text-align: end;
                        // padding-right: .3rem;
                        margin-left: 2.4rem;
                    }
                }
            }
    
    
            #addAndRemoveForm{
                position: absolute;
                top: 6vh;
                right: initial;
                width: 9vw;

                #spellingErrorInput{
                    width: 90vw;
                    text-align: center;
                
                }
                #correctSpellingInput{
                    width: 90vw;
                    text-align: center;
                }

                // display: none;
                button{
                    font-weight: bold;
                    font-size: 1.5rem;
                    background: complement($primary-color);
                    text-align: start;
                    width: 90vw;
                    padding: .25rem 0 .25rem 0;
                    text-align: center;
                    border: 1px solid $primary-color;
                    border: none;
                    border-radius: .2rem;
                    color: white;
                }
                button:hover{
                    background: white;
                    color: $complementary-color;
                    cursor: pointer;
                }
            }
    
            #spellingListContainer{
                display: flex;
                margin-top: .5rem;
                margin-bottom: .5rem;
    
                #spellingListLeft{ 
                    // width: 70%;
                    display: flex;
                }
                    
            
            }
        }
    }




}
