#studyPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $primary-background;
    color: white;
    object-fit: contain;

    #studyPageInner{
        background-size: auto 100%;
        height: 95vh;
        width: 30rem;
        // background: rgb(75, 75, 75);
        object-fit: fill;
        // margin-left: 10rem;

        #wordErrorLabel{
            display: flex;
            font-size: 1.5rem;
            font-weight: bold;
            color: $primary-color;
            width: 30rem;
            border-bottom: 1px solid white;
            div{
                width: 50%;
                margin-bottom: 1rem;
     
                #wordLabel{
                    // padding-left: .5rem;
                }
                #errorLabel{
                    // text-align: end;
                    // padding-right: .3rem;
                    margin-left: 2.4rem;
                }
            }
        }


        #addAndRemoveForm{
            position: absolute;
            top: 5vh;
            right: 1rem;
            button{
                font-weight: bold;
                font-size: 1.5rem;
                background: complement($primary-color);
                text-align: start;
                width: 100%;
                padding: .25rem 0 .25rem 0;
                text-align: center;
                border: 1px solid $primary-color;
                border: none;
                border-radius: .2rem;
                color: white;
            }
        }

        #spellingListContainer{
            display: flex;
            margin-top: .5rem;
            margin-bottom: .5rem;

            #spellingListLeft{ 
                width: 70%;
                display: flex;

                a{
                    text-decoration: none;
                    margin-right: 1rem;
                    color: complement($primary-color);

                }
                a:hover{
                    color: $primary-color;
                }

            }
            #spellingListRight{
                width: 50%;
            }
        }

        // div{
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     flex-direction: column;
        // }

        // section{
        //     display: flex;
        //     align-items: flex-end;
        //     height: 4rem;
        //     width: 15rem;
        //     font-weight: bold;

        //     p:nth-child(2){
        //         margin-left: 12.6rem;
        //     }
        // }

        // #addAndRemoveForm{
        //     display: flex;
        //     // justify-content: center;
        //     margin-top: 1rem;
            
        //     input{
        //         // margin-left: 1rem;
        //         // margin-right: 1rem;
        //     }
        // }
        // div:nth-child(1){
   
        // }

        // div{
        //     background: initial;
        //     display: flex;
        //     // background: blue;
        //     // width: 32rem;
        //     // height: 39rem;
        //     height: 1.2rem;
        //     // margin-left: 0rem;
        //     margin-top: .28rem;
        // }

        // #removeWord{
        //     margin-right: 1rem;
        // }


        // p{
        //     // margin-top: .35rem;
        // }

        // p:nth-child(2){
        //     // margin-left: 10rem;
        // }
    }
}