@import "headerPage";
@import "learningPage";
@import "studyPage";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#landingPage{
    background: #1a1a1a;
    color: white;
    height: 100vh;
    

}