@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@import "landingPage";
@import "headerPage";
@import "learningPage";
@import "studyPage";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}

